{% extends 'admin/base.html' %} {% block content %}
<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <!-- <h3 class="fw-bold mb-3">Ubah Password</h3> -->

        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">Ubah Password</div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="form-group">
                            <label for="username">username </label>
                            <input type="username" class="form-control" id="username" placeholder="username"
                                value="admin" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password Lama</label>
                            <input type="password" class="form-control" id="old_password" placeholder="Password" />
                        </div>
                        <div class="form-group">
                            <label for="password">Password Baru</label>
                            <input type="password" class="form-control" id="new_password" placeholder="Password" />
                        </div>

                        <div class="form-group">
                            <label for="password">ulang password Baru</label>
                            <input type="password" class="form-control" id="repeat_new_password"
                                placeholder="Password" />
                        </div>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <button class="btn btn-primary" id="ubah_password">Ubah password</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $("#ubah_password").click(function () {
            var username = $("#username").val();
            var new_password = $("#new_password").val();
            var old_password = $("#old_password").val();
            var repeat_new_password = $("#repeat_new_password").val();

            console.log(new_password, repeat_new_password)
            if (new_password !== repeat_new_password) {
                $("#new_password").parent().addClass("has-error");
                $("#repeat_new_password").parent().addClass("has-error");
                show_alert("Password baru dan ulang password tidak sama!", "warning");
                return;
            } else {
                $("#new_password").parent().removeClass("has-error");
                $("#repeat_new_password").parent().removeClass("has-error");
            }
            change_password(username, old_password, new_password)
                .then(function (result) {
                    show_alert(result.message, "success");
                    // var username = $("#username").val();
                    $("#username").val("");
                    $("#new_password").val("");
                    $("#old_password").val("");
                    $("#repeat_new_password").val("");
                })
                .catch(function (error) {
                    if (error.responseJSON && error.responseJSON.message) {
                        show_alert(error.responseJSON.message, "error");
                    } else {
                        show_alert("An unexpected error occurred", "error");
                    }

                });
        });
    })

    function show_alert_success() {
        swal("password berhasil diubah!", {
            icon: "success",
            buttons: {
                confirm: {
                    className: "btn btn-info",
                },
            },
        });
    };

    function show_alert(message, type) {
        var icon = type === "success" ? "success" : "warning";
        swal(message, {
            icon: icon,
            buttons: {
                confirm: {
                    className: "btn btn-info",
                },
            },
        });
    }

</script>


<script src="{{ url_for('static', filename='js/change_password.js') }}"></script>

{% endblock %}